.Menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 150;
  width: fit-content;
  background-color: rgba(62, 74, 75, 0.98);
  padding: 10rem 4rem 10rem 2rem;
  transition: all 0.5s ease-in-out;
}

.Menu h3 {
  color: #E8C82C;
  font-size: 3rem;
  font-weight: 900;
}

.Menu nav,
.Menu .NavigationItems {
  width: 100%;
  height: 35vh;
  list-style: none;
  margin-top: 4rem;
  display: flex;
  flex-flow: column;
}

.Menu .NavigationItems li {  
  padding: 1.5rem 0;
  flex: 1;
}

.Menu .NavigationItems a:link,
.Menu .NavigationItems a:visited {
  display: block;
  color: #E9EDEE;
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.Menu .NavigationItems a:hover,
.Menu .NavigationItems a:active {
  color: #E8C82C;
  font-weight: 900;
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}