.Backdrop {
  background-color: rgba(62, 74, 75, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  transition: all .4s ease-in-out;
}

.Hide {
  opacity: 0;
  height: 0%;
}

.Show {
  opacity: 1;
  height: 100%;
}